asgiref==3.5.2
certifi==2023.5.7
charset-normalizer==3.1.0
dj-database-url==1.0.0
Django==4.1
django-heroku==0.3.1
django-taggit==3.0.0
django-widget-tweaks==1.4.12
gunicorn==20.1.0
idna==3.4
importlib-metadata==4.12.0
Markdown==3.4.1
psycopg2==2.9.3
pyp==3.0.7
requests==2.30.0
sqlparse==0.4.2
urllib3==2.0.2
whitenoise==6.2.0
zipp==3.8.1
