<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Payskul - Documentation</title>
    <style>
        html {
            font-family: sans-serif;
        }

        body {
            margin: 0;

        }

        header {
            background: purple;
            height: 100px;
            width: 100%;
        }

        h1 {
            text-align: center;
            color: white;
            line-height: 100px;
            margin: 0;
        }



        .row {
            display: flex;
            flex-flow: row wrap;
        }

        .col {
            flex: 15%;
            padding: 10px;
            margin: 10px;
            background: aqua;
        }
    </style>
</head>

<body>
    <header>
        <h1>API ENDPOINTS AND HOW TO USE</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Register A User</h3>

                <a href="{% url 'apiv1:account_url:create_user' %}">Create Users</a>
                <a href="{% url 'apiv1:account_url:list_user' %}">List Users</a>
                <p>Endpoint: <span class="endpoint">{% url 'apiv1:account_url:list_user' %}</span>
                    <p>
                        <strong>To view a particular user detail
                            "{% url 'apiv1:account_url:list_user' %}username"</strong>

                        <p>This endpoint handles the creation and listing of users and returns the user object while a
                            verification code is sent to the user email.</p>


                        <pre>
    <em>Sample data: </em>
    <code>
    {
    fullname -- user fullname
    email -- user email
    phone_number -- user phone number
    password -- 6 digit pin
    confirm_password -- 6 digit pin
    }
    </code>
    </pre>

                        Response:
                        { 'email': 'pygod_pyoer123@icloud.com',
                        'first_name': 'Ayobami',
                        'id': 45,
                        'last_name': 'Lodindsi',
                        'password': 'user - password',
                        'profile': { 'address': None,
                        'dob': None,
                        'nin': None,
                        'phone_number': '11234567811190'},
                        'referrals': [],
                        'token': '459cce6dbaa029f692e612fa745bbcc0beb98432',
                        'username': 'AyoLod5ca',
                        'verification-code': '5d0f79'}
            </div>
            <div class="col">
                <h3>Verify Email</h3>

                <a href="{% url 'apiv1:account_url:confirm_email' %}">Verify Email</a>
                <p>Endpoint: <span class="endpoint">{% url 'apiv1:account_url:confirm_email' %}</span>
                    <p>This endpoint is ti veerify the user email with the code that was sent to the user. It expries
                        after
                        5 minutes.</p>
                    <p>Requires the id of the user and the code sent to the user email.</p>
                    <pre>
    <em>Sample data: </em>
    <code>
    {
    "id": id,
    "code": "code that was sent to email",
    }
    </code>
    </pre>

                    <p>On success: {'message': "Account Verified"}</p>
                    <p>If token expired: {'message': "Token expired"}</p>
                    <p>on fail: {'message': 'Invalid code or user id'}</p>

            </div>



            <div class="col">
                <h3>Obtain User Token</h3>

                <a href="{% url 'token_obtain_pair' %}">Obtain User Token</a>
                <p>Endpoint: <span class="endpoint">{% url 'token_obtain_pair' %}</span>

                    <em>Sample data: </em>
                    <pre>
                <code>
                    {
                        "username": kenan,
                        "password": "GHOST",
                    }
                    </code>
                </pre>
                    <p>Returns an access and refresh tokens taht would be used to access other endpoints. Access expires
                        in an hour and the refresh expires in 2.
                        JSON Web Token
                    </p>
            </div>

            <div class="col">
                <h3>login User </h3>

                <a href="{% url 'apiv1:account_url:login' %}">Login User</a>
                <p>Endpoint: <span class="endpoint">{% url 'apiv1:account_url:login' %}</span>

                    <em>Sample data: </em>
                    <pre>
                <code>
                    {
                        "username": kenan,
                        "password": "GHOST",
                    }
                    </code>
                </pre>
                    <p>
                        <strong>Response</strong>
                        {'message': 'User Logged in', 'data': {'id': 1, 'last_name': '', 'first_name': '', 'username':
                        'michaellyon', 'email': 'pygod@pauskul.com', 'profile': {'id': 99, 'nin': '4356436547', 'dob':
                        '2023-04-15', 'address': '333 Fremont Street, San Fransisco, CA', 'phone_number': '+1
                        07098677653'}}}
                    </p>
            </div>
        </div>

        <div class="col">
            <h3>Renew Email verification token</h3>



            <a href="{% url 'apiv1:account_url:get_new_token' %}">Renew Email Verifiction Token</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:account_url:get_new_token' %}</span>
                <p>
                    A get request to send a verification token user. Must be done with jwt credential in the header

                    Return a message that says the mail has been snet.
                </p>
        </div>
        <div class="col">
            <h3>Reset Password</h3>

            <a href="{% url 'apiv1:account_url:reset_password' %}">Reset Password</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:account_url:reset_password' %}</span>
                <pre>
                        Reset password for a user.

    GET:
    Send a verification code to the user's email address.

    - `email` (request data): The email address of the user.
    
    POST:
    Reset the user's password using the verification code.

    - `email` (request data): The email address of the user.
    - `verification_code` (request data): The verification code received by the user.
    - `password` (request data): The new password for the user.

    Returns a JSON response with the following format:

    {
        "status": <bool>,
        "message": <str>
    }

    - `status`: Indicates the status of the operation (True for success, False for failure).
    - `message`: A message describing the result of the operation.

    GET Example Response (HTTP 200 OK):
    {
        "status": true,
        "message": "Verification code sent"
    }

    POST Example Response (HTTP 200 OK):
    {
        "status": true,
        "message": "Password reset successfully"
    }

    Error Responses:
    - HTTP 400 BAD REQUEST: If the required parameters are missing or invalid.
    - HTTP 404 NOT FOUND: If the user associated with the provided email address is not found.
    
                </pre>
        </div>
        <div class="col">
            <h3>Refresh JWT Token</h3>
            <a href="{% url 'token_refresh' %}">Refresh the token</a>
            <p>Endpoint: <span class="endpoint">{% url 'token_refresh' %}</span>

                <em>Sample data: </em>
                <pre>
                <code>
                    {
                     "refresh": refresh key
                    }
                    </code>
                </pre>
                <p>Returns an access and refresh tokens taht would be used to access other endpoints. Access expires in
                    an hour and the refresh expires in 2.
                    JSON Web Token
                </p>
        </div>
    </div>
    <div class="col">
        <h3>Verify JWT Token</h3>

        <a href="{% url 'token_verify' %}">verify the token</a>
        <p>Endpoint: <span class="endpoint">{% url 'token_verify' %}</span>

            <em>Sample data: </em>
            <pre>
                <code>
                    {
                     "token": access key
                    }
                    </code>
                </pre>
            <p>Returns an access and refresh tokens taht would be used to access other endpoints. Access expires in an
                hour and the refresh expires in 2.
                JSON Web Token
            </p>
    </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Validate A User For Loan</h3>

            <a href="{% url 'apiv1:core:validate_user_loan' %}">Validate User For Loan</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:validate_user_loan' %}</span>
                <p>Endpoint to certify that a user is eligible for loan facility access</p>
                <pre>

                <p>

                A get request to get that the user is eligible for loan facility access
                User would be identofied using JWT
                
                On success: {"success": true, "message": "User validated successfully", "data": {"credit_limit": 10000, "can_borrow": true/false}}
                On fail: {"success": false,"message": "An error occured please try again."}
            </p>
            </pre>

        </div>
        <div class="col">
            <h3>Apply For Loan</h3>

            <a href="{% url 'apiv1:core:apply_loan' %}">Apply Loan</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:apply_loan' %}</span>

                <p>Endpoint to apply for the users loan</p>
                <p>
                    <strong>On POST request</strong>
                    <pre>
                    loan_details: {
                        service -- what service is the user trying to apply for the loan the id of the service
                        amount_needed -- how much does the user need?
                        start_date -- when is this loan service active
                        end_date -- when is this loan due
                        amount_to_pay_back -- how much is the user supposed to pay back
                    }
                </pre>

                    <p><strong>On Responsse: </strong></p>
                    <p>success &rarr; {"success": true, message:"Loan approved."}</p>
                    <p>error &rarr; {"success": false, message:"An error has occured."}</p>



        </div>
        <div class="col">
            <h3>Payment Slip</h3>

            <a href="{% url 'apiv1:core:payment_slip' %}">Paymetn Slip</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:payment_slip' %}</span>

                <p>This is an endpoint that allows a user to make payments for the schools fees aside from the immidiate payment when applying for the loan</p>
                <p>
                    <strong>On POST request</strong>
                    <pre>
                        """
                        Endpoint to apply for the user's loan.

                        On POST request:
                            - bank_details: {
                                "receivers_name": "Name of the receiver",
                                "bank_name": "Name of the bank",
                                "bank_account_number": "Account number",
                                "description": "Description of the payment",
                                "amount": "Amount to be paid into the bank account"
                            }

                            - auth: {
                                "pin": "User transaction pin"
                            }
                        """
                </pre>

                    <p><strong>On Responsse: </strong></p>
                    <p>success &rarr; {"status": True, "message": "Payment applied successfully"}, status=status.HTTP_201_CREATED</p>
                    <p>error &rarr; {"status": False, "message": "No uncleared loan found"}, status=status.HTTP_404_NOT_FOUND</p>
                    <p>error &rarr; {"status": False, "message": "Error creating transaction"}, status=status.HTTP_500_INTERNAL_SERVER_ERROR)</p>
                    <p>error &rarr; {"status": False, "message": "Invalid pin"}, status=status.HTTP_400_BAD_REQUEST</p>
                    <p>error &rarr; {"success": false, message:"An error has occured."}</p>



        </div>



        <div class="col">
            <h3>User Loan</h3>
            <a href="{% url 'apiv1:core:loan_list' %}">Get User Loan</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:loan_list' %}</span>
                <pre>
                To get the current loan for a user:
                
                service 
                amount_needed 
                start_date 
                end_date 
                amount_to_pay_back
                total_repayment
                cleared
                updated
                </pre>
        </div>
        <div class="col">
            <h3>Revalidated User for loan</h3>
            <a href="{% url 'apiv1:core:update_client_income_status' %}">Re-validated user for loan</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:update_client_income_status' %}</span>

                <p>This is used to get the update of a user when they're trying to request another loan. To know if they're still fit to collect another loan or not</p>
                <pre>
                    {message: "Client updated successfully", status: True, credit_limit: ....}
                </pre>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h3>List Transations</h3>

            <a href="{% url 'apiv1:core:transaction_list_create' %}">List Transactions filters transactions based on
                user</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:transaction_list_create' %}</span>

        </div>
        <div class="col">
            <h3>Wallet List</h3>

            <a href="{% url 'apiv1:core:wallet_list_create' %}">Wallet List</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:wallet_list_create' %}</span>
            </p>

            <p>
                Return the user wallet
            </p>

        </div>
        <div class="col">
            <h3>POST OKRA PAYLOAD</h3>

            <a href="{% url 'apiv1:core:confirm_okra_link' %}">POST OKRA PAYLOAD</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:confirm_okra_link' %}</span>
            </p>

            <p>
                Confirms and validates a user based on the payload.
            </p>

        </div>


        <div class="col">
            <h3>Service List </h3>

            <p>A list of all Services</p>

            <a href="{% url 'apiv1:core:service_category' %}">Service Category</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:service_category' %}</span>
        </div>
        <div class="col">
            <h3>Service List </h3>

            <p>A list of all Services</p>

            <a href="{% url 'apiv1:core:service' %}">Service List</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:service' %}</span>
        </div>

        <div class="col">
            <h3>Get Banks</h3>

            <a href="{% url 'apiv1:core:bank_list' %}">Banks List</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:core:bank_list' %}</span>
        </div>
        <div class="col">
            <h3>Change Password</h3>

            <a href="{% url 'apiv1:account:change_password' %}">change password</a>
            <p>Endpoint: <span class="endpoint">{% url 'apiv1:account:change_password' %}</span>

                <p>
                    data = {
                    "old_password": "1234rewqasdf",
                    "password":"1234qwerasdf",
                    "password2":"1234qwerasdf",

                    }
                </p>
        </div>
    </div>

    </div>

</body>

</html>